<html>
<head>
<title>RoR Biz Search Demo</title>
<style type="text/css">
body {
  font-family:Arial; 
  text-align:center
}
</style>
</head>
<h3 style="font-family:Arial Black">Welcome to my rinky-dink RoR biz search demo!</h3>
Try to ignore how ugly this page is...
<h1 style="font-family:Arial Black">Instead, look at the cutest puppy-muffin ever!</h1>
Aww...
<br>
<img src="/images/dirtydog.jpg">
<h3 style="font-family:Arial Black">Enter your biz search below!</h3>
<table style="border:0; text-align:right; margin-left:auto; margin-right:auto">
<form method="get">
  <tr>
    <td><label for="city">City:</label></td>
    <td><input type="text" name="city" /></td>
  </tr>
  <tr>
    <td><label for="state">State:</label></td>
    <td><input type="text" name="state" /></td>
  </tr>
  <tr>
    <td><label for="biz">Business:</label></td>
    <td><input type="text" name="biz" /></td>
  </tr>
</table>
<br>
    <input type="submit" />
</form>
<br>
<br>
Debug: <%= params.inspect %>
</body>
</html>
