<html>
<head>
<title>Error!  | RoR Biz Search Demo</title>
<style type="text/css">
body {
  font-family:Arial;
  text-align:center
}
</style>
</head>
<table style="border:0; margin-left:auto; margin-right:auto">
  <tr>
  <td><img src="/images/partyfoul.jpg"></td>
  <td><h1 style="font-family:Arial Black">Dood! Party foul!</h1><p>Your search returned 0 results.  Try refining your search terms.<p><a href="/biz">Try your search again!</a></td>
  </tr>
</table>
</html>

